@media (min-width: 740px) {
	header {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

    nav{
        display: flex;
    }
    
    nav li{
        display: block;
        flex: 1 1 100%;
    }

	nav ul {
        display: flex;
		justify-content: flex-end;
		flex-direction: row;
	}

	nav a {
		text-align: center;
	}

    .container{
        display: grid;
        gap: 50px 100px; 
        grid-template-columns: repeat(3, 1fr);
        grid-template-columns: repeat(3,1fr);
    }

    #menu {
        display: none; 
    }

    .res-grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr ;
        gap: 20px;
    }
      
}